name: Python application test

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

        uses: actions/setup-python@v5
        with:

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip

      - name: Test with pytest
        run: |
